<li class="list-group-item">
  <input type="checkbox" class="form-check-input my-1" [checked]="todo.isComplete" (change)="changeTodoStatus(todo)" />
  <!-- <span class="todo-item"[ngStyle]="{'text-decoration': todo.isComplete ? 'line-through' : 'initial'}">{{ i + 1 }}. {{ todo.name }}</span> -->
  <span class="todo-item" [ngClass]="{ 'text-decoration-line-through': todo.isComplete }">{{ i + 1 }}. {{ todo.name }}</span>
  <button type="button" class="btn btn-danger btn-sm mx-2" (click)="toggleModal()">Delete</button>
</li>

<app-modal *ngIf="openModal" (close)="toggleModal()" [title]="'Are you sure you want to delete this task' + (i + 1) + '?'">
  <p class="p-up">Showing up</p>
  <div class="d-flex justify-content-end">
    <button class="btn btn-danger btn-sm mx-2" (click)="deleteTodo()">Delete</button>
    <button class="btn btn-info btn-sm" (click)="toggleModal()">Cancel</button>
  </div>
</app-modal>
